# The following options will be passed to all MySQL clients
[client]
#password       = your_password
port            = 3306
socket          = /opt/huawei/db/data/mysql.sock

# The MySQL server
[mysqld]
port            = 3306
socket          = /opt/huawei/db/data/mysql.sock
datadir         = /opt/huawei/db/data
skip-external-locking
default-storage-engine  = INNODB
key_buffer_size = 256M
max_allowed_packet = 64M
table_open_cache = 4096
sort_buffer_size = 8M
read_buffer_size = 8M
read_rnd_buffer_size =32M
myisam_sort_buffer_size = 64M
thread_cache_size = 32
query_cache_size= 16M
query_cache_type=1
event_scheduler=1
skip-name-resolve
skip-slave-start
max_connections=2000
tmpdir =/opt/huawei/db/mysql_temp
character_set_server=utf8
group_concat_max_len = 1024000
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
lower_case_table_names = 1
join_buffer_size =2M
transaction_isolation=READ-COMMITTED
innodb_flush_method=O_DIRECT
#sql_mode=ANSI,TRADITIONAL,STRICT_ALL_TABLES
explicit_defaults_for_timestamp=false
local-infile=0
#skip-networking
secure_auth = ON
skip-symbolic-links
#sql_mode = NO_AUTO_CREATE_USER
log_bin_trust_function_creators =1
secure_file_priv=''

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin
log-bin-index=mysql-bin.index
#open log_slow_queries sync_binlog 2011-9-24 xzlox
long_query_time = 10
slow-query-log = 1
log_output = file
sync_binlog=1
# binary logging format - row recommended
binlog_format=mixed
#slave-skip-errors=all
log_slave_updates=1
relay-log=relay-bin
relay-log-index=relay-bin.index

expire_logs_days=8

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id       = 18224


# Uncomment the following if you are using InnoDB tables
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /opt/huawei/db/data/
innodb_log_files_in_group = 5
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 36G
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 1G
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
#replicate-do-db = ym

innodb_file_per_table

gtid-mode=on
enforce-gtid-consistency=true

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

